{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="background: url({% static 'img/bg-2.png' %}); background-position: center center;" >
<div class=" ">
  <div class="">
  <section class="company-heading intro-type" >
    <div class="container">
      <div class="">
        <div class="col-md-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
      <div class="container text-center">
        <div align="left" class="posts-listing col-lg-12">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop20">Here at The Geeks Station, We write about tech.
          What's the latest buzz in the tech world.We give our opinion as well.</p>
        </div><br />
        <h4 align="">WHAT DRIVES US</h4><br />
        <div align="left" class="posts-listing col-lg-12">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop20">.</p>
        </div>
      </div>
    </section>
</div>
</section>

{% endblock %}
