{% extends 'base.html' %}
{% load static %}

{% block content %}
<section style="background: url({% static 'img/bg-2.png' %}); background-position: center center;" >
<div class="container text-center">
  <div class="">
  <section class="company-heading intro-type" >
    <div class="container">
      <div class="">
        <div align="center" class="col-md-12">
          <h1> About Us</h1>
        </div>
      </div>
    </div>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
      <div class="container text-center">
        <div align="left" class="posts-listing col-lg-12">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop20">Here at The Geeks Station, We write about tech.
          What's the latest buzz in the tech world.We give our opinion as well.For Additional Queries Contact Us using Our Official Mail Address(r798207@gmail.com).</p>
        </div><br />
        <h4 align="">WHAT DRIVES US</h4><br />
        <div align="left" class="posts-listing col-lg-12">
          <div class="red-border"></div>
          <p class="ct-u-size22 ct-u-fontWeight300 marginTop20">It's Our Passion is to Write About the Latest Happenings in the
          Tech World, Our Motive is to Keep you Up to Date Concerning New Technologies, Gadgets, Applications.All on the One Single Platform.</p>
        </div>
      </div>
    </section>
</div>
</section>

{% endblock %}
